flows (1).json
[{"id":"8d9f822d.5d323","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"23342c91.063784","type":"cloudant in","z":"8d9f822d.5d323","name":"","cloudant":"","database":"sensordata","service":"node-red-wqbpw-2021--cloudant-1620812477347-20028","search":"_all_","design":"","index":"","x":270,"y":100,"wires":[["2ee03efc.9da9e2","fc30c6a9.b711f8","e8b83e78.f898d","91c165b.dff5698"]]},{"id":"54808713.5de358","type":"inject","z":"8d9f822d.5d323","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":100,"wires":[["23342c91.063784"]]},{"id":"2ee03efc.9da9e2","type":"debug","z":"8d9f822d.5d323","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":80,"wires":[]},{"id":"f5e31533.4c3a28","type":"ui_text","z":"8d9f822d.5d323","group":"c123caa3.4f2e08","order":0,"width":0,"height":0,"name":"","label":"Id","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":300,"wires":[]},{"id":"fc30c6a9.b711f8","type":"function","z":"8d9f822d.5d323","name":"","func":"msg.payload = msg.payload[0].Id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":180,"wires":[["5a2e44af.bc6ffc"]]},{"id":"e8b83e78.f898d","type":"function","z":"8d9f822d.5d323","name":"","func":"msg.payload = msg.payload[0].Id1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":280,"wires":[["e073fed2.3ff1b"]]},{"id":"91c165b.dff5698","type":"function","z":"8d9f822d.5d323","name":"","func":"msg.payload = msg.payload[0].Id2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":320,"wires":[["122c0ae5.61f1d5"]]},{"id":"e073fed2.3ff1b","type":"ui_text","z":"8d9f822d.5d323","group":"c123caa3.4f2e08","order":0,"width":0,"height":0,"name":"","label":"Id","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":340,"wires":[]},{"id":"122c0ae5.61f1d5","type":"ui_text","z":"8d9f822d.5d323","group":"c123caa3.4f2e08","order":0,"width":0,"height":0,"name":"","label":"Id","format":"{{msg.payload}}","layout":"row-spread","x":510,"y":400,"wires":[]},{"id":"5a2e44af.bc6ffc","type":"rbe","z":"8d9f822d.5d323","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":470,"y":160,"wires":[[]]},{"id":"5c5e7c41.12fb64","type":"switch","z":"8d9f822d.5d323","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"12345","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":630,"y":160,"wires":[["e2f125f7.9278c8"]]},{"id":"e2f125f7.9278c8","type":"http request","z":"8d9f822d.5d323","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=Tw5uPDCWLHJ7belEGXojzFiYBanSd0cAsRU36NOy4ZxhtKvf9pwqKBuQ09sZjAbWz16J43p8OGtEHU7P&message=please%20go%20outside&route=q&numbers=9290735744","tls":"","persist":false,"proxy":"","authType":"","x":620,"y":240,"wires":[["f5e31533.4c3a28"]]},{"id":"c123caa3.4f2e08","type":"ui_group","name":"Default","tab":"edb38270.cbafb","order":1,"disp":true,"width":"6","collapse":false},{"id":"edb38270.cbafb","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]