flows NEW.json
[{"id":"8d9f822d.5d323","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2ee03efc.9da9e2","type":"debug","z":"8d9f822d.5d323","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":40,"wires":[]},{"id":"f5e31533.4c3a28","type":"ui_text","z":"8d9f822d.5d323","group":"c123caa3.4f2e08","order":0,"width":0,"height":0,"name":"","label":"ID1","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":220,"wires":[]},{"id":"fc30c6a9.b711f8","type":"function","z":"8d9f822d.5d323","name":"","func":"msg.payload = msg.payload.ID1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":80,"wires":[["5a2e44af.bc6ffc"]]},{"id":"e8b83e78.f898d","type":"function","z":"8d9f822d.5d323","name":"","func":"msg.payload = msg.payload.ID2\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":140,"wires":[["e073fed2.3ff1b"]]},{"id":"91c165b.dff5698","type":"function","z":"8d9f822d.5d323","name":"","func":"msg.payload = msg.payload.ID3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":200,"wires":[["122c0ae5.61f1d5"]]},{"id":"e073fed2.3ff1b","type":"ui_text","z":"8d9f822d.5d323","group":"c123caa3.4f2e08","order":0,"width":0,"height":0,"name":"","label":"ID2","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":180,"wires":[]},{"id":"122c0ae5.61f1d5","type":"ui_text","z":"8d9f822d.5d323","group":"c123caa3.4f2e08","order":0,"width":0,"height":0,"name":"","label":"ID3","format":"{{msg.payload}}","layout":"row-spread","x":430,"y":240,"wires":[]},{"id":"5a2e44af.bc6ffc","type":"rbe","z":"8d9f822d.5d323","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","x":470,"y":80,"wires":[["5c5e7c41.12fb64"]]},{"id":"5c5e7c41.12fb64","type":"switch","z":"8d9f822d.5d323","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"12345","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":610,"y":100,"wires":[["e2f125f7.9278c8"]]},{"id":"e2f125f7.9278c8","type":"http request","z":"8d9f822d.5d323","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"/https://www.fast2sms.com/dev/bulkV2?authorization=Tw5uPDCWLHJ7belEGXojzFiYBanSd0cAsRU36NOy4ZxhtKvf9pwqKBuQ09sZjAbWz16J43p8OGtEHU7P&message=please%20go%20outside&route=q&numbers=9290735744","tls":"","persist":false,"proxy":"","authType":"","x":590,"y":160,"wires":[["f5e31533.4c3a28"]]},{"id":"4c1d3d59.6d3294","type":"inject","z":"8d9f822d.5d323","name":"Warning","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello please go out side","payloadType":"str","x":100,"y":280,"wires":[["b1649811.f075f8"]]},{"id":"b1649811.f075f8","type":"watson-text-to-speech","z":"8d9f822d.5d323","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_KevinV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"bnisFwCpFmSWsJBtq5-kcLW3l8HZ2vr5jppEHttkVh3V","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/eb400727-cd8e-4329-868b-25d22a9d8e52","x":330,"y":300,"wires":[["ee87366f.d0ea98","faffb859.9ca918"]]},{"id":"ee87366f.d0ea98","type":"play audio","z":"8d9f822d.5d323","name":"","voice":"2","x":560,"y":320,"wires":[]},{"id":"faffb859.9ca918","type":"debug","z":"8d9f822d.5d323","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":540,"y":380,"wires":[]},{"id":"6eac7ad2.9a6224","type":"ibmiot in","z":"8d9f822d.5d323","authentication":"apiKey","apiKey":"72109f40.73308","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":40,"wires":[["fc30c6a9.b711f8","e8b83e78.f898d","91c165b.dff5698","2ee03efc.9da9e2"]]},{"id":"c123caa3.4f2e08","type":"ui_group","name":"Default","tab":"edb38270.cbafb","order":1,"disp":true,"width":"6","collapse":false},{"id":"72109f40.73308","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"l9v8q5.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":true},{"id":"edb38270.cbafb","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]