flows @ new.txt
[{"id":"30c5983d.162988","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"82e9d5f3.6334a8","type":"function","z":"30c5983d.162988","name":"staffid","func":"msg.payload = msg.payload.id\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":240,"wires":[["68705552.46d18c","5acc536.69aa5ac","bfe4d5e3.f67ef8"]]},{"id":"d7a2402.6d449c","type":"function","z":"30c5983d.162988","name":"staffname","func":"msg.payload = msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":300,"wires":[["68705552.46d18c","52b4e0a4.ac424"]]},{"id":"d4a66271.a6a8c","type":"cloudant out","z":"30c5983d.162988","name":"","cloudant":"","database":"iotproject","service":"node-red-wqbpw-2021--cloudant-1620812477347-20028","payonly":true,"operation":"insert","x":380,"y":160,"wires":[]},{"id":"68705552.46d18c","type":"debug","z":"30c5983d.162988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":100,"wires":[]},{"id":"5acc536.69aa5ac","type":"delay","z":"30c5983d.162988","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":280,"wires":[["e1caa4b.f129a58"]]},{"id":"e1caa4b.f129a58","type":"function","z":"30c5983d.162988","name":"","func":"msg.payload = {\n    \"command\" : msg.payload\n    \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":280,"wires":[["68705552.46d18c","85afadcf.4d07d"]]},{"id":"bfe4d5e3.f67ef8","type":"ui_text","z":"30c5983d.162988","group":"7326a58d.74115c","order":11,"width":0,"height":0,"name":"","label":"Employee ID","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":360,"wires":[]},{"id":"52b4e0a4.ac424","type":"ui_text","z":"30c5983d.162988","group":"7326a58d.74115c","order":12,"width":0,"height":0,"name":"","label":"Employee Name","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":400,"wires":[]},{"id":"7a9f4cfb.572574","type":"function","z":"30c5983d.162988","name":"Date_Time","func":"//msg.payload = msg.payload.date_time\n//return msg;\nvar now = new Date().toLocaleString(\"en-GB\");\nreturn {payload: now};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":360,"wires":[["320f8e14.ebc282","68705552.46d18c"]]},{"id":"320f8e14.ebc282","type":"ui_text","z":"30c5983d.162988","group":"7326a58d.74115c","order":13,"width":0,"height":0,"name":"","label":"Date_Time","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":440,"wires":[]},{"id":"179d99e4.f5ded6","type":"ibmiot in","z":"30c5983d.162988","authentication":"apiKey","apiKey":"72109f40.73308","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1001","applicationId":"","deviceType":"iotdevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":100,"wires":[["d4a66271.a6a8c","68705552.46d18c","82e9d5f3.6334a8","d7a2402.6d449c","7a9f4cfb.572574"]]},{"id":"85afadcf.4d07d","type":"ibmiot out","z":"30c5983d.162988","authentication":"apiKey","apiKey":"72109f40.73308","outputType":"cmd","deviceId":"1001","deviceType":"iotdevice","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":1000,"y":280,"wires":[]},{"id":"d2741a60.ff6be8","type":"inject","z":"30c5983d.162988","name":"Warning","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello please go out side","payloadType":"str","x":360,"y":520,"wires":[["401d08c2.59e218"]]},{"id":"401d08c2.59e218","type":"watson-text-to-speech","z":"30c5983d.162988","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_KevinV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"bnisFwCpFmSWsJBtq5-kcLW3l8HZ2vr5jppEHttkVh3V","payload-response":false,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/eb400727-cd8e-4329-868b-25d22a9d8e52","x":580,"y":520,"wires":[["a9e15477.663e88","f1faea30.1b89b8"]]},{"id":"a9e15477.663e88","type":"play audio","z":"30c5983d.162988","name":"","voice":"2","x":820,"y":560,"wires":[]},{"id":"f1faea30.1b89b8","type":"debug","z":"30c5983d.162988","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":520,"wires":[]},{"id":"7326a58d.74115c","type":"ui_group","name":"CONTROL","tab":"7149ccc8.999c54","order":1,"disp":true,"width":"13","collapse":false},{"id":"72109f40.73308","type":"ibmiot","name":"iotdevice","keepalive":"60","serverName":"l9v8q5.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":true},{"id":"7149ccc8.999c54","type":"ui_tab","name":"project","icon":"dashboard","disabled":false,"hidden":false}]
